<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
	<!-- Link to reset CSS -->
	<link rel="stylesheet" href="./assets/css/reset.css" type="text/css" />
	<!-- Link to CSS -->
	<link rel="stylesheet" href="./assets/css/style.css" type="text/css" />
	<!-- Google Fonts Link -->
	<link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Pragati+Narrow" rel="stylesheet">
	<!-- Font Awesome script -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<title>Cutting some E!</title>
</head>
<body>
	<header><h1>Cutting Some </h1><img id="logo" src="./assets/images/logo.png">
			
	</header>
  	<div id="navbar">
  		<ul>
  			<li><button class="main-button" id="save">SAVED <img class="elogo" src="./assets/images/E!.png"></button></li>
  			<li><button class="main-button" id="scrape">CUT NEW<img class="elogo" src="./assets/images/E!.png"></button></li>
  		</ul>
	</div>
	{{{ body }}}
	<footer> &copy; 2018 Dani Carter</footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src=".assets/app.js"></script>
</body>	
</html>
