<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
	<!-- Link to reset CSS -->
	<link rel="stylesheet" href="/assets/css/reset.css" type="text/css" />
	<!-- Link to CSS -->
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<!-- Google Fonts Link -->
	<link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Pragati+Narrow" rel="stylesheet">
	<!-- Font Awesome script -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<title>Cutting some E!</title>
</head>
<body>

	{{{ body }}}

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="#"></script>
</body>
	
</html>
