<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
	<!-- Link to reset CSS -->
	<link rel="stylesheet" href="./assets/css/reset.css" type="text/css" />
	<!-- Link to CSS -->
	<link rel="stylesheet" href="./assets/css/style.css" type="text/css" />
	<!-- Google Fonts Link -->
	<link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Pragati+Narrow" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="./app.js"></script>
	<!-- Font Awesome script -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<title>Cutting some E!</title>
</head>
<body>
  	<div id="navbar">
  		<ul>
  			<li id= "cutE">Cutting Some E!news</li>
  			<li><button>Saved Articles</button></li>
  			<li><button id="scrape">Cut some new E!</button></li>
  		</ul>
	</div>
	{{{ body }}}
	<footer> &copy; 2018 Dani Carter</footer>

</body>	
</html>
