header {
	background-color: #EEE851;
	text-align:center;
	color: #000000;
	padding: 0px;
	margin: auto;
	width:100%;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 50px;
}

#navbar {
	width: 100%;
	margin: 0;
	margin-top:10px;
	display:flex;
	justify-content: center;
}

.main-button {
	background-color: #4DA4C9;
	font-size: 30px;
	color: #FFFFFF;
	padding: 30px;

}

#logo {
	width: 150px;
	height: 108px;
	margin: none;
	padding:none;
}

#cutE {
	font-size: 30px;
}

.elogo {
	width:17px;
	height:53px;
	margin:0;
}

ul {
	list-style-type: none;
	margin: none;
	padding: none;

}

li {
	font-size: 20px;
	display: block;
	float: left;
	padding: 5px;
}

#wrapper {
	display:block;
	float:left;
	width:100%;
}

.jumbotron {
	display:block;
	padding:50px;
}

#articles {
	background-color: #FFFFFF;
	padding:20px;

}

.title {
	font-size: 20px;
}

img {
	margin:10px;
	width: 150px;
	height: 150px;
}

.link {
	
}

#notes {
	display:block;
	padding:50px;
}

.card-body{
	width:90%;
	margin:auto;
	display:inline-block;
	
}

.display{
	width: 40%;
	float:left;
}

#commentDiv {
	
	width:25%;
	float:left;
}

.hidden {
	visibility: hidden;
}

#comment-title {
	width:200px;
}

#comment-body {
	width: 200px;
	height:100px;
}

.prior-comments {
	width:25%;
	float:left;
	overflow: scroll;
}

footer{
	background-color: #EEE851;
	text-align:center;
	font-size: 20px;
	color: #000000;
	padding: 30px;
	margin:auto;
	width:100%;
	bottom:0;
	left:0;
	clear:both;
}