<div id="navbar">
	<ul>
		<li><button class="main-button" id="save">SAVED <img class="elogo" src="./assets/images/E!.png"></button></li>
		<li><button class="main-button" id="scrape">CUT NEW<img class="elogo" src="./assets/images/E!.png"></button></li>
	</ul>
</div>

{{#each headline}}
	<div class="card">
		<div class="card-body">
			<img src="{{this.pic}}">
			<br>
			<p class="title">{{this.title}}</p>
			<br>
			<a class="link" href="www.eonline.com{{this.link}}"> <button>READ MORE</button></a>
			<br>
			<a><button class="save-it" data-id="{{this._id}}">SAVE HEADLINE</button></a>
			<br><br>
		</div>
	</div>
{{/each}}